

header{
    width: 100vw;
    margin: auto;
    align-items: center;
    max-width: 800px;
    background-color: rgb(189, 186, 182);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main{
    width: 100vw;
    margin: auto;
    align-items: center;
    max-width: 800px;
    background-color: #d0dee3;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle{   
    display: flex;
    flex-direction: column;
    justify-content: center;
}


h1{
    font-family:'Times New Roman', Times, serif ;
    font-size: 32px;
}


h2{
font-family:'Times New Roman', Times, serif ;
font-size: 24px ;
}


h3{
    font-family: didot;
    font-size: 18px;
}

h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15,5px;
}



p{
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 15px;
max-width: 40em;

}


img{
    width: 200px;
    margin-bottom: 25px;
}


th{
background-color: rgb(193, 193, 193);
}

td{
    background-color: rgb(208, 206, 206); 
}