body {
    background: linear-gradient(90deg, rgba(5, 5, 66, 1) 0%, rgba(166, 117, 245, 1) 100%);
    margin: 0px;
}

main {
    width: 100vw;
    margin: auto;
    align-items: center;

}

/*midden van pagina */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    margin: auto;
    align-items: center;
    font-family: "Madimi One", sans-serif;
    font-size: 32px;
    gap: .5em;
}


/*pijl terug naar homepagina*/
svg {
    width: 50px;
    vertical-align: bottom;
    fill: #ffffff;
}

/*als cursor overheen gaat andere kleur pijl*/
svg:hover {
    fill: rgba(166, 117, 245, 1);
}

/*midden van pagina, tekst en witte vlak*/
.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*midden van pagina h3 en plaatjes*/
section {
    display: flex;
    flex-direction: column;
    align-items: center;

}

img {
    width: 300px;
    margin-bottom: 25px;
    border-radius: 20px;
}

.plaatje{
    width: 250px;
}


h1 {
    font-family: "Madimi One", sans-serif;
    font-size: 32px;
    color: rgb(255, 255, 255);
}


h2 {
    font-family: "Madimi One", sans-serif;
    font-size: 24px;
    color: rgb(254, 254, 254);
}


h3 {
    font-family: "Madimi One", sans-serif;
    font-size: 18px;
}


h4 {
    font-family: "Madimi One", sans-serif;
    font-size: 15, 5px;
}


p {
    font-family: Gill Sans, sans-serif; 
    font-size: 15px;
    max-width: 40em;

}

/*tekst van alle inleidingen van de onderwerpen*/
.inleiding {
    color: rgb(255, 255, 255);
    margin-bottom: 2em;
    padding: 1em;
}


th,
td {
    text-align: center;
    padding-left: .5em;
    padding-right: .5em;
}


/*kleur van tabel th -> dagen en td -> tijden*/
th {
    background-color: rgb(193, 193, 193);
/* font-family: "Gowun Batang", serif;
font-size: 15px; */
font-family: Gill Sans, sans-serif; 
font-weight: normal;
}

td {
    background-color: rgb(208, 206, 206);
    /* font-family: "Gowun Batang", serif;
font-size: 15px; */
font-family: Gill Sans, sans-serif; 
}


table:hover {
    background-color: rgba(166, 117, 245, 1);
}

/*tabel th en td samenvoegen*/
/* tr:has(:hover) th,
tr:has(:hover) td {
    background-color:rgba(166, 117, 245, 1);
} */

tr:has(:hover) :is(th, td) {
    background-color: rgba(166, 117, 245, 1);
}


/*Rondingen toevoegen tabel*/
table tr:first-child th:first-child {
    border-top-left-radius: 20px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 20px;
}

table tr:last-child th:first-child {
    border-bottom-left-radius: 20px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
}

table tr:last-child td:first-child{
    border-bottom-left-radius: 20px;
  }

table {
    border-radius: 20px;
}


/*plaatje en tabel naast elkaar*/
.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
}

/*plaatje en tekst naast elkaar*/
.koffie{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5em;
    align-items: center;
}

.descripton{
    max-width: 22em;
}

/*het witte vlak waar de tekst, plaatje en tabel in staan*/
section {
    background-color: rgb(251, 251, 251);
    border-radius: 20px;
    margin-bottom: 2em;
    padding: 1em;
}

footer{
    background-color: rgb(125, 90, 158);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5em;
    align-items: center;

}

.onder{
    color: rgb(255, 255, 255);
    font-family: "Madimi One", sans-serif;
    font-size:18px;
}