/* COMMON ELEMENTS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  font-family: sans-serif;
  background: rgb(5, 5, 66);
  background: linear-gradient(90deg, rgba(5, 5, 66, 1) 0%, rgba(166, 117, 245, 1) 100%);

  /* hide scrollbar */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main {
  display: flex;
  flex-direction: column;

  height: 100%;
  max-height: 100vh;
  width: 100vw;
}

h1,
h2 {
  font-family: "Madimi One", sans-serif;
  color: white;
}

h1 {
  font-size: 17vw;
}

h2 {
  font-size: 8vw;
}

p {
  color: white;
  font-size: 14px;
  max-width: 80vw;
}

img {
  min-height: 120px;
  height: 12vw;
  min-width: 120px;
  width: 12vw;
  max-width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

/* MAIN CONTAINERS */
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  h2 {
    max-width: 30%;
    line-height: .8;
  }
}

.image-container {
  img {
    border: 2px solid white;
    box-shadow: 0px 2px 2px black;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20vh 20vh;
    grid-auto-flow: column;
    gap: .5em;
    padding: .5em;
    justify-items: center;
  }
}



/* HIDE SCROLLBAR */
section::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 480px) {
  h1 {
    /* font-size: 64px; */
    font-size: max(64px, 7vw);
  }

  h2 {
    font-size: 2vw;
    max-width: 100%;
  }

  p {
    max-width: 24em;
  }

  header {
    margin-bottom: 2rem;
  }

  .grid-container {
    /* grid-template-columns: repeat(2, fit-content(1fr)); */
  }

  main {
    flex-direction: row;
  }

  .text-container {
    padding-left: 1rem;
    max-width: 30%;
    align-items: start;

    header {
      display: block;
    }
  }

  .image-container {
    max-width: 70%;
  }

  .ampersand {
    display: none;
  }
}