*{
    box-sizing: border-box;
    display: flex;
}
head{
  display: none;
}
body{
    display:grid;
    color: white;
    background: linear-gradient(to right,#050542,  #A675F5);
    padding: 1em;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns:1fr 1fr;
    grid-template-areas:
    "header scroll1"
    "header scroll2"
    "header scroll3"
    "header scroll4";

}
header{
  flex-direction:column;
}
/*Zorg ervoor dat de marquees niet voor de header gaan*/
section{
    overflow:hidden;
    flex-direction: row;
    text-align: bottom;
}

figcaption{
  position:absolute; 
}
img{
    width: 25vh;
    height: 25vh;
    object-fit: cover;
    grid-area: img;
}
/*Positionering van de scrollers*/
@media (min-width: 601px){
#Scroller1 section{
    grid-area: scroll1;
}
#Scroller2 section{
    grid-area: scroll2;
}
#Scroller3 section{
  grid-area: scroll3;
}
#Scroller4 section{
  grid-area: scroll4;
}
}
header{
    position: relative;
    grid-area: header;
    text-align: center;

}

  /*Scroller linksaf*/
.marquee {
    height: 100%;
    flex-direction: row;
    white-space: nowrap;
    animation: scroll1 30s linear infinite;
    position:relative;
  }

  @keyframes scroll1 {
    0% {
      transform: translateX(00%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
 
  /*Scroller rechtsaf*/
  .marquee2 {
    
    height: 100%;
    flex-direction: row;
    white-space: nowrap;
    animation: scroll2 30s linear infinite;
    position:relative;
    
  }
  @keyframes scroll2 {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  /*Pauseer bij Hover*/
  
  .Scroller1:hover .marquee{
    
    animation-play-state: paused;
  }
  
  .Scroller2:hover .marquee2{
    
    animation-play-state: paused;
  }
  
  .Scroller3:hover .marquee{
    
    animation-play-state: paused;
  }
  
  .Scroller4:hover .marquee2{
    
    animation-play-state: paused;
  }


  @media (max-width: 600px) {
body{
  height: 100vh;
  background: linear-gradient(to bottom, #66E5BF,  #A675F5);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns:1fr 1fr;
  grid-template-areas:
  "header header"
  "scroll1 scroll3"
  "scroll2 scroll4";
}
#duplicate{
  display: none;
}
  }