* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

main {
  margin: auto;
  display: flex;
  flex-direction: row;

  height: 100%;
  max-height: 100vh;
  max-width: 1600px;
}

h1 {
  font-size: 64px;
}

figure {
  min-height: 100px;
  height: 10vw;
  min-width: 100px;
  width: 10vw;
  object-fit: cover;
}

img {
  min-height: 100px;
  height: 10vw;
  min-width: 100px;
  width: 10vw;
  max-width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.left, .middle, .right {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  gap: 4px;

  min-height: 100vh;
  width: 33%;
  overflow-y: scroll;
  max-width: 25vw;
}

.left {
  background-color: #c7a4d3;
}

.middle {
  background-color: #b2d3f6;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.right {
  background-color: #ffcfe0;
}

section::-webkit-scrollbar {
  display: none;
}