* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  height: 100%;
  max-width: 1600px;
  margin: auto;
}

figure {
  min-height: 30vh;
  width: 45%;
  border-radius: 10px;
  background-color: white;
  margin: 1rem;
}

.left, .middle, .right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  width: 33%;
  overflow: scroll;
}

.left {
  background-color: #c7a4d3;
}

.middle {
  background-color: #b2d3f6;
}

.right {
  background-color: #ffcfe0;
}