* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

main {
  margin: auto;
  display: flex;
  flex-direction: row;

  height: 100%;
  max-height: 100vh;
  max-width: 1600px;
}

h1 {
  font-size: 64px;
}

figure {
  /* min-height: 100px;
  height: 10vw;
  min-width: 100px;
  width: 10vw; */
  /* object-fit: cover; */
}

img {
  min-height: 100px;
  height: 12vw;
  min-width: 100px;
  width: 12vw;
  max-width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.middle, .right {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  gap: 4px;

  min-height: 100vh;
  width: 33%;
  overflow-y: scroll;
  max-width: 25vw;
}

.left {
  min-height: 100vh;
  width: auto;
  overflow-y: scroll;
  max-width: 33%;

  background-color: #c7a4d3;

}

figure {
  grid-row: span 2;
}

/* figure:nth-child(2) {
  grid-row: 2/3;
} */

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(10vw, 1fr));
  grid-template-rows: repeat(auto-fill, 6vw);
  gap: .5em;
  padding: .5em;
}

.filler {
  grid-column: 1 / 2;
  grid-row: 1 / 1;
  /* background-color: white; */
  border-radius: 20px;
}

.middle {
  background-color: #b2d3f6;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-shrink: 2;
}

.right {
  background-color: #ffcfe0;
}

section::-webkit-scrollbar {
  display: none;
}

/* @keyframes scroll {
	0% { transform: translateY(0); }
	100% { transform: translateY(calc(-10vw * 7))}
}

.left .container{
  animation: scroll 5s linear infinite;
  height: calc(10vw * 7);
} */
